@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a fonte global */
* {
  font-family: 'Poppins', sans-serif;
}


.altura-tela {
  height: calc(100vh - 80px);
}

.img-fundo {
  background-image: url(assets/a.png);
  background-size: cover; /* Faz a imagem cobrir todo o elemento */
  background-repeat: no-repeat; /* Evita repetição */
  background-position: center; /* Centraliza a imagem */
  width: 100vw; /* Define a largura como 100% da largura da viewport */
  height: calc(100vh - 80px); /* Define a altura como 100% da altura da viewport */
}
